node_modules/
.pnpm-store/
pnpm-lock.yaml

.env
.env.*
!.env.example

.DS_Store
*.log
*.tsbuildinfo

dist/
build/
coverage/
artifacts/
cache/
typechain-types/

.turbo/
.next/
out/

deployments/*.json

implemtation.md
